<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<bean name="piezaService" class="org.utn.tacs.tp.group2.service.PiezaServiceImpl">
		<property name="piezaDAO" ref="DAOPieza" />
	</bean>
	
		<bean name="pedidoService" class="org.utn.tacs.tp.group2.service.PedidoServiceImpl">
		<property name="pedidoDAO" ref="pedidoDAO" />
	</bean>
	
	<bean name="DAOPieza"
		class="org.utn.tacs.tp.group2.daos.implementations.DAOPiezaImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean name="piezaDAO"
		class="org.utn.tacs.tp.group2.daos.implementations.PiezaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean name="pedidoDAO"
		class="org.utn.tacs.tp.group2.daos.implementations.PedidoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSourceStd" />
		<property name="schemaUpdate" value="true"/>
		<property name="annotatedClasses">
			<list>
				<value>org.utn.tacs.tp.group2.pedido.Pedido</value>
				<value>org.utn.tacs.tp.group2.pedido.EstadoPedido</value>
				<value>org.utn.tacs.tp.group2.pieza.Pieza</value>
				<value>org.utn.tacs.tp.group2.pieza.EstadoPieza</value>
				<value>org.utn.tacs.tp.group2.pieza.Auto</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
				<prop key="show_sql">true</prop>
				<prop key="hbm2ddl.auto">create</prop>
			</props>
		</property>
	</bean>


	<bean id="dataSourceStd" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="url" value="jdbc:hsqldb:file:db/tp-group2-db" />
		<property name="username" value="sa" />
		<property name="password" value="" />
		<property name="initialSize" value="5" />
		<property name="maxActive" value="10" />
	</bean>

</beans>
